/*----------------------------------*/
/*active content-div general styling*/
/*----------------------------------*/
.content-div[data-active="active"] {
    background: #ebe9eb;
    width: 100%;
    height: 700px;
}

/*positioning inside the content-div*/
.content-div {
    display: flex;
    justify-content: center;
}

.content-div-wrapper {
    width: 96%;
    display: flex;
    flex-direction: column;
}

/*inactive content-div display: none*/

.content-div[data-active="inactive"] {
    display: none;
}


/*-------------------------*/
/*general iframe styling*/
/*-------------------------*/

iframe {
    /*position: relative;*/
    width: 100%;
    height: 700px;
}

/*-------------------------*/
/*content-div header styling*/
/*-------------------------*/

.section-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

.settings-icons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

