/*-------------------*/
    /*general styling*/
    /*-------------------*/

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body { /*will be changed to background image once i have it*/
    background: url(../img/body-background.jpg);
    background-size: cover;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.layout-wrap {
    max-width: 960px;
    min-width: 640px;
    margin: 0 auto;
    height: auto;
}



/*---------------------*/
/*main section styling*/
/*---------------------*/

.content-background-wrapper {
    overflow: auto;
    background: rgba(128, 128, 128, 0.75);
    max-width: 980px;
    min-width: 650px;
    margin: 0 auto;
    height: auto;

}

.page-body {
    text-align: center;

}

/*notifications line*/

.notifications {
    width: 100%;
    height: 35px;
    background: #fff;
    margin-top: 20px;
}

