/*-----------------------*/
/*nav menu boxes styling*/
/*----------------------*/
nav {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 18px;
}

.nav-section {
    width: 30%;
    display: inline-block;
    position: relative;
}

.nav-section,
.action-list {
    box-shadow: #656264 3px 3px 5px;
}

.nav-section>p {
    height: 123px;
    padding-top: 10px;
    color: white;
    font-weight: 100;
    margin: 0;
}

.menu {
    background: #ecebec;
    /*height:36px;*/
    color: black;
    width: 100%;
    display: flex;
    font-size: 0.75rem;
}

/*will be diplayed on hover state*/
.action-list {
    background: #EBE9EB;
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

}

/*---------------------------------------*/
/*adding background logs to nav-sections*/
/*--------------------------------------*/

.nav-section:nth-of-type(1) > p {
    background: url(../img/icons/action-report-new.png) no-repeat, black;
    background-position: 50% -150%;
}

.nav-section:nth-of-type(2) > p {
    background: url(../img/icons/action-report-top.png) no-repeat, black;
    background-position: 50% -150%;
}

.nav-section:nth-of-type(3) > p {
    background: url(../img/icons/actions-help.png) no-repeat, black;
    background-position: 50% 1100%;
}


/*--------------------*/
/*styling dropdown menus*/
/*-------------------*/

.action-list,
.menu-hint {
padding: 0 20px;
}

.menu-hint,
.action-list li {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.action-list li:not(last-child){
    border-bottom: 1px solid #ecebec;

}

.action-list {
    background: #fffdff;
}

.arrow {
    font-size: 1.2rem;
}

/*--------------------------------------------*/
/*setting the drop-down menus on hover state*/
/*------------------------------------------*/

.nav-section:hover .action-list {
    max-height: 200px;

}


/*arrow spin on dropdown menu*/

.nav-section:hover .arrow {
    transform: rotate(180deg);

}

.arrow {
    transition: all 0.5s;
}
