/*tabs styling*/

.tabs li {
    display: inline-block;
    width: 22%;
    margin: 0;
    /*margin: 1.1%;*/

    margin-top: 2%;
    padding: 0.5%;
    background: #656264;
}
.tabs a {
    font-weight: 100;
    font-size: 01rem;
    color: white;
    display: block;
    padding: 10px;
}
